/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --cover-image: url(../images/cover-image-dark.png);
  --rec-color: #ff0070;
  --accent-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 50%);
  --title-color: #DB00FF;
  --text-color: #000028;
  --main-text-color: #F1B2CE;
  --background-color: #000028;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cover-image: url(../images/cover-image-dark.png);
    --rec-color: #ff0070;
    --accent-color: #ff0070;
    --button-hover-color: rgba(255, 0, 112, 50%);
    --title-color: #DB00FF;
    --text-color: #000028;
    --main-text-color: #F1B2CE;
    --background-color: #000028;
  }
}